* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  background: #f5f5f5;
  color: #333;
}

/* Header */
header {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #00bcd4;
}

/* Hero Section */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
}

.hero span {
  color: #00bcd4;
}

.hero h3 {
  margin: 15px 0;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: #00bcd4;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background: white;
}

/* Sections */
.section {
  padding: 70px 80px;
  text-align: center;
}

.section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.section p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

/* Dark Section */
.dark {
  background: #222;
  color: white;
}

/* Skills */
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.skill {
  background: #00bcd4;
  color: black;
  padding: 12px 25px;
  border-radius: 20px;
  font-weight: bold;
}

/* Projects */
.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 40px;
}

.project {
  background: white;
  width: 260px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-8px);
}

.project h3 {
  margin-bottom: 10px;
}

/* Contact */
.contact-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.contact-form button {
  background: #00bcd4;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.contact-form button:hover {
  background: white;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Responsive */
@media (max-width: 768px) {

  header {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .section {
    padding: 50px 25px;
  }

}
keep
Pinned
hci-mspo-wed